<%- include("./partials/header.ejs") %>

<body>
    <div class="wrapper">
        <div class="console">
            <form method="GET">
            <div class="console_screen">
                <input  type="submit" formaction="/asteroid" value="Random asteroid close to Earth" class="btn">
                <input  type="submit" formaction="/rover" value="Rover pictures of the day" class="btn">
                <input  type="submit" formaction="/astrology" value="Astrology picture of the day" class="btn">
            </div>
            </form>

            <div class="button_row">
                <div class="radio_btn one"></div>
                <div class="radio_btn two"></div>
                <div class="radio_btn three"></div>
                <div class="radio_btn four"></div>
            </div>

        </div>
    </div>
    
</body>
</html>